<ion-view hide-nav-bar="true" view-title="">
  <ion-content class="padding bgIntroduction">
    <div class="row row-center">
      <div class="col">
        <div class="button-bar">
            <button class="button button-clear button-light" style="color:#fff;height:200px;font-size:6em;padding-bottom:60px;font-family:novaBold">
            ZEPHYR.
            </button>
        </div>
        <div class="button-bar">
            <button class="button button-clear button-light" style="color:#fff;font-size:4em;margin-top:-20px">
            <hr>
            </button>
        </div>
        <div class="button-bar">
            <button class="button button-block button-outline button-light" style="color:#fff" ui-sref="sign-in">
            SIGN IN
            </button>
            <button class="button button-block button-outline button-light" style="color:#fff" ui-sref="sign-up">
            SIGN UP
            </button>
        </div>
        
      </div>
    </div>

  </ion-content>
</ion-view>
