<ion-tabs class="tabs-icon-top tabs-top tabs-color-active-calm tabs-background-light has-header">

  <!-- Dashboard Tab -->
  <ion-tab title="CONTACTS" icon-off="ion-person" icon-on="ion-person" href="#/tab/dashboard">
    <ion-nav-view name="tab-dashboard"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="CHATS" icon-off="ion-ios-chatboxes" icon-on="ion-ios-chatboxes" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="ACCOUNT" icon-off="ion-ios-gear" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
