/* Empty. Add your own CSS if you like */

@font-face {
	font-family: "roboto-regular";
	src: url('../lib/ionic/fonts/roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'novaBold';
    src: url('../lib/ionic/fonts/NOVABOLD.eot');
    src: url('../lib/ionic/fonts/NOVABOLD.eot?#iefix') format('embedded-opentype'),
         url('../lib/ionic/fonts/NOVABOLD.woff') format('woff'),
         url('../lib/ionic/fonts/NOVABOLD.ttf') format('truetype'),
         url('../lib/ionic/fonts/NOVABOLD.svg') format('svg');
}

.bgIntroduction {
	background: url(../img/bg_intro.jpg);
	background-size: cover;
	background-position: center;
	color: #fff;
}

.bgSign {
	background: url(../img/bg_introduction.jpg);
	background-size: cover;
	background-position: center;
}

.row, .scroll {
	height: 100%;
}

.logoText h1 {
	color: #fff;
	font-size: 55px;  
}

.signInText {
	font-size: 50px;
}

.textCenter {
	text-align: center;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #F0F0F0;
  border-style: solid none;
  border-width: 1px 0;
}

.bgDash {
	background: url(../img/bgDash.jpg);
	background-position: center;
	background-size: cover;
}

.bubbleRight {
	position: relative;
	width: 98%;
	min-height: 40px;
	padding: 5px;
	background: #F0F0F0;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	box-shadow: -2px 2px 2px 0 rgba(178,178,178,.4);
	margin-bottom: 5px;
}

.bubbleRight:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 7px 0 7px 23px;
	border-color: transparent #F0F0F0;
	display: block;
	width: 0;
	z-index: 1;
	margin-top: -7px;
	right: -19px;
	top: 20px;
}

.bubbleLeft {
  position: relative;
  width: 100%;
  min-height: 50px;
  padding: 5px;
  background: #F0F0F0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  box-shadow: -2px 2x 2px 0 rgba(178,178,178,.4);
  margin-bottom: 5px;
}

.bubbleLeft:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 7px 20px 7px 0;
  border-color: transparent #F0F0F0;
  display: block;
  width: 0;
  z-index: 1;
  margin-top: -7px;
  left: -17px;
  top: 20px;
}
.noPadding {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	border: none !important;
}